---
import DarkMode from "./contentAbout/DarkMode.astro"
import SpotifyPresence from "./contentAbout/SpotifyPresence.astro";
import { DiscordStatus } from "./DiscordStatus"
import Weather from "./contentAbout/Weather.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import ChangeLanguage from "./contentAbout/ChangeLanguage.astro";


---
<article>
  <div>
    <h2 class="text-white">Experience</h2>
  </div>
</article>