---
import { getWeather } from "../../services/getWeather"
import ShowTime from "../ShowTime"

const weather = await getWeather();
 

---

  <article class="rounded-3xl flex relative overflow-hidden col-span-2 border-2 dark:border-[#30363D]">
    <div class="bg-[#001324] w-full flex overflow-hidden bg-clip-padding text-white py-2 px-4 lg:p-8">
      <div class="flex flex-col justify-center lg:h-full w-2/3 absolute lg:static z-10">
        <p class="text-lg md:text-5xl lg:text-7xl font-bold">{weather.temp}°</p>
        <p class="capitalize text-xs md:text-xl lg:text-2xl font-semibold lg:mb-0">{weather.weather}</p>
        <p class="text-xs md:text-md lg:text-xl">{weather.country}</p>
        <ShowTime client:load/>
      </div>

      <div class="absolute right-0 top-0 flex justify-end z-0 items-center w-full h-full overflow-hidden ">
        <div class="TimeCard_night__BfZ0q TimeCard_container__bLNa3 w-20 h-20 lg:w-56 lg:h-56 right-5">
          <span class="TimeCard_moon__scQu9 w-10 h-10 lg:w-24 lg:h-24">
          </span>
          <span class="TimeCard_spot1__SaOIN"></span>
          <span class="TimeCard_spot2__Cq_4z"></span>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul> 
        </div>
      </div>
    </div>
  </article>


<style is:inline>
  .TimeCard_night__BfZ0q {
    position: relative;
    background: linear-gradient(to bottom right,#3f51b5,#ab47bc 70%);
    box-shadow: 1px 1px 30px #512da8;
  }

  .TimeCard_night__BfZ0q li {
    position: absolute;
    list-style: none;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #fff;
    transform: rotate(45deg);
  }

  .TimeCard_night__BfZ0q li:first-child {
    top: 30%;
    left: 65%;
  }

  .TimeCard_night__BfZ0q li:nth-child(2) {
    top: 35%;
    left: 53%;
  }

  .TimeCard_night__BfZ0q li:nth-child(3) {
    opacity: 0;
    top: 20%;
    left: 75%;
    width: 2px;
    height: 2px;
    animation: TimeCard_meteor__1qJO5 1.5s linear infinite;
    animation-delay: .6s;
  }

  .TimeCard_night__BfZ0q li:nth-child(5) {
    opacity: 0;
    top: 20%;
    left: 55%;
    width: 1px;
    height: 15px;
    animation: TimeCard_meteor__1qJO5 1.5s linear infinite;
  }

  .TimeCard_night__BfZ0q li:nth-child(4) {
    top: 5%;
    left: 50%;
  }

 @keyframes TimeCard_meteor__1qJO5 {
    10% {
      opacity: 1;
    }

    80% {
      left: 10%;
      top: 75%;
      opacity: 0;
    }
  }

  .TimeCard_container__bLNa3{
    border-radius: 40%;
    z-index: 120
  }

  .TimeCard_moon__scQu9{
    position: absolute;
    top: -10%;
    left: 55%;
    border-radius: 100%;
    background: #fff176;
    box-shadow: 1px 1px 30px #e0e0e0;
  }

  .TimeCard_spot1__SaOIN{
    top: 0;
    left: 85%;
    width: 10px;
    height: 10px;
  }

  .TimeCard_spot1__SaOIN, .TimeCard_spot2__Cq_4z{
    position: absolute;
    border-radius: 100%;
    background-color: #777;
  }

  .TimeCard_spot2__Cq_4z{
    top: 30%;
    left: 75%;
    width: 5px;
    height: 5px;
  }
</style>