---
import AboutMe from '../components/AboutMe.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main  class="flex flex-col m-5">
    <section class="grid grid-cols-3 gap-2 md:grid-cols-4 md:gap-4 my-5 container mx-auto xl:px-20">
      <AboutMe/>
    </section>
	</main>
</Layout>

