---
import ChangeLanguage from "./contentAbout/ChangeLanguage.astro";
import DiscordPresence from "./contentAbout/DiscordPresence.astro"
import DarkMode from "./contentAbout/DarkMode.astro"
import SpotifyPresence from "./contentAbout/SpotifyPresence.astro";
import Weather from "./contentAbout/Weather.astro";
---

<!-- Sobre mi -->
<article class="bg-white dark:bg-[#0D1116] dark:text-white relative border-2 dark:border-[#30363D] col-span-3 aspect-square md:aspect-auto md:row-span-2 rounded-3xl overflow-hidden p-2 md:p-4">
  <div class="float-right pt-2 pr-2">
    <img class="w-auto h-24 ml-auto mr-auto" src="/icon-luizack.png" alt="Luis Adrian">
  </div>
  <div class="lg:absolute lg:bottom-12">
    <div class="md:w-8/12 p-2 md:px-8 md:py-4 flex flex-col justify-start md:justify-end">
      <h1 class="text-3xl font-bold md:text-4xl lg:text-6xl">Hi, I'm <br> <span class="text-[#e1a028]">Luis Adrian</span></h1>
      <p class="pt-2 md:text-lg lg:text-xl">Un joven apasionado con la habilidad en la creación de experiencias web interactivas y atractivas.</p>
    </div>
    <p class="px-2 md:px-8 md:text-lg lg:text-xl hidden sm:block">
      Tengo buen ojo para los pequeños detalles que marcan la diferencia, y siempre pongo lo mejor de mí en mis trabajos.
    </p>
  </div>
</article>

<DiscordPresence/>

<ChangeLanguage/>

<DarkMode/>

<!-- Linkend -->
  <a href="https:luizack.site" class="bg-[#7ac7f1]  border-2 dark:border-[#30363D] dark:bg-[#0569A1] text-white flex flex-col justify-center items-center rounded-2xl relative col-span-1 aspect-square text-center p-4">
    <div class="sm:scale-175">
      <svg xmlns="http://www.w3.org/2000/svg"  class="inline-flex w-8 md:w-10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
        <path d="M8 11l0 5"></path>
        <path d="M8 8l0 .01"></path>
        <path d="M12 16l0 -5"></path>
        <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
      </svg>
    </div>
  </a>

  <!-- Portfolio projects -->
   <a class="bg-[#0000007b] border-2 dark:border-[#30363D] text-white rounded-2xl relative w-full p-4 col-span-2 overflow-hidden " href="https://luizack.site/#proyectos">
      <div class="absolute top-4 right-4 bg-white rounded-full p-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M17 7l-10 10"></path>
          <path d="M8 7l9 0l0 9"></path>
        </svg>
      </div>
      <img class="absolute w-full h-full top-0 left-0 object-center object-cover z-[-1]" src="/coding.gif" alt="Github">
      <div class="flex flex-col gap-1">
        <h3 class="text-white text-sm md:text-xl lg:text-3xl font-bold">Projects and works</h3>
        <p class="text-white text-sm md:text-md lg:text-2xl">Follow this link for go see my projects</p>
      </div>
  </a>

   <SpotifyPresence/>

  <article class="col-span-1 sm:col-span-1 flex flex-col justify-between gap-2 md:gap-4">
  <a href="https:luizack.site" class="text-white rounded-2xl flex relative overflow-hidden aspect-square shadow-sm bg-black p-4 justify-center items-center border-2 dark:border-[#30363D]">
     <div class="sm:scale-175">

       <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
         <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
         <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
         <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
       </svg>
     </div>
  </a>

  <article class="rounded-2xl flex relative overflow-hidden aspect-square shadow-sm bg-[#62DBBE] p-4 text-white justify-center items-center border-2 dark:border-[#30363D] dark:bg-[#0D1116]">
    <div class="flex justify-center items-center flex-col">
      <p class="text-4xl md:text-8xl font-bold">+3</p>
      <p class="text-xs md:text-xl uppercase font-semibold text-center">years of experience</p>
    </div>
  </article>
</article>

 <Weather/>

 <!-- Mail -->
 <a class="border-2 bg-[#FFC6D7] dark:border-[#30363D] dark:bg-[#0D1116] dark:text-white text-white rounded-2xl relative w-full p-4 col-span-1 flex flex-col justify-center items-center aspect-square" href="https://luizack.site">
  <div class="absolute top-2 right-2 bg-white rounded-full p-1">
     <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black " width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>

   <div class="sm:scale-175">
     <svg xmlns="http://www.w3.org/2000/svg" class="stroke-white inline-flex w-8 md:w-10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
   <path d="M3 7l9 6l9 -6"></path>
</svg>
   </div>
  </a>

  <!-- CV -->
  <a href="/cv_luisadrian.pdf" class="border-2 bg-white dark:border-[#30363D] dark:bg-[#0D1116] dark:text-white rounded-2xl relative w-full p-4 col-span-1 flex flex-col justify-center items-center aspect-square text-center font-bold md:text-xl" target="_blank" rel="noreferrer">
   <div class="absolute top-2 right-2 dark:bg-white rounded-full p-1">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
      <path d="M7 11l5 5l5 -5"></path>
      <path d="M12 4l0 12"></path>
      </svg>
    </div>
    <div class="absolute top-2 left-2">
      <p class="text-sm font-bold">
        CV
      </p>
    </div>
     <div class="sm:scale-175">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="inline-flex w-8 md:w-10"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
     </div>
  </a>

  <a href="https://github.com/luisadriannu" target="_blank" rel="noopener noreferrer" class="rounded-2xl col-span-2 overflow-hidden cursor-pointer border-2 dark:border-[#30363D]">
    
    <div class="relative w-full h-full p-4 bg-[#00000077] ">
    <img alt="GitHub" loading="lazy" width="498" height="280" decoding="async" data-nimg="1" class="absolute w-full h-full object-cover object-center top-0 left-0 -z-10" style="color:transparent"  src="/giphy.gif">
    <div class="absolute top-2 right-2 bg-white rounded-full p-1">
     <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
    </div>
          <h2 class="text-white text-sm md:text-xl lg:text-3xl font-bold">Github</h2>
          <p class="text-white text-sm md:text-md lg:text-2xl">My Github profile, where I upload my projects.</p>
      </div>
  </div>
</div>
</a>