---
import AboutMe from '../../components/AboutMe.astro';
import Layout from '../../layouts/Layout.astro';
---
<!-- <meta http-equiv="refresh" content="0;url=/en/" /> -->
<Layout title="Luis Adrian | Frontend Developer" language="es">
	<main class="flex flex-col m-5">
    <section class="grid max-w-screen-lg grid-cols-3 gap-2 md:grid-cols-4 md:gap-4 my-5 mx-auto lg:px-20">
      <AboutMe/>
    </section>
	</main>
</Layout>

